body {
  background-color: #E8F0E9;
}

.background{
  background-color: #F8F6F4;
  height: 100vh;
  width: 80vw;
  border-radius: 30px;
  box-shadow: inset 0px 4px 4px #949693;
  display: flex;
  flex-direction: row;
}

.HeaderMain{
  display: flex;
  flex-direction: column;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

